body{
    background-color: black;
    min-height: 3000px;
    color: whitesmoke;
}

.menu-dropdown{
    margin-top: 7px;
}

.btn-default{
    color: lightgray;
}

.btn-default:hover, .btn-default:active, .btn-default:visited{
    color: whitesmoke;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:visited {
    background-color: #000000 !important;
}

.main-info{
    margin-top: 40px;
}

.main-info img{
    width: 100%;
}
.join-inline{
    margin-left: 15px;
}

.offers h1{
    margin-bottom: 30px;
}

.offer-item span{
    display: block;
    text-align: center;
    margin-top: 7px;
    width: 205px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.offer-item img{
    width: 205px;
    height: 190px;
    display: block;
    margin: auto;
}